   <!-- footer -->
   <footer class="footer">
    <div class="fcontainer">
        <div class="row">

            <div class="f-col">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#">19012</a></li>
                    <li><a href="#">Clementine@gmail.com</a></li>
                    <p>Operating hours are from 7am – 2am EST,</p>
                    <p>7 days a week, excluding holidays.</p>
                </ul>
            </div>
            <div class="f-col">
                <h3>About Us</h3>
                <p>We are a boutique jewellery studio based in</p>
                <p>Cairo, Egypt. We create pieces to order using a combination </p>
                <p>of modern technology and traditional jewellery practises,</p>
                <p>each piece is finished carefully by hand.</p>

            </div>
            <div class="f-col">
                <h3>Follow us</h3>
                <div class="social-links">

                    <!-- gets the icons mn font awesome online library -->
                    <a href="#">
                        <p class="fab fa-facebook-f"></p>
                    </a>
                    <a href="#">
                        <p class="fab fa-twitter"></p>
                    </a>
                    <a href="#">
                        <p class="fab fa-instagram"></p>
                    </a>
                </div>


            </div>

        </div>
    </div>
</footer>
