@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

/* Body styles */
body {
  background: #343541;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* App container styles */
#app {
  width:100vw;
  height: 100vh;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Chat container styles */
#chat_container {
  width:950px;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-right: 250px; 
}




/* Hide scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

/* Wrapper styles */
.wrapper {
  width: 100%;
  padding: 15px;
}

/* AI message styles */
.ai {
  background: #40414F;
}

/* Chat styles */
.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

/* Profile styles */
.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* AI profile styles */
.ai .profile {
  background: #10a37f;
}

/* Profile image styles */
.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

/* Message styles */
.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

/* Form styles */
form {
  position: fixed;
  bottom: 0;
  left: 350px; /* Adjust the value to match the width of the sidebar */
  width: calc(100% - 400px); /* Adjust the value to exclude the width of the sidebar */
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  z-index: 1; /* Ensure the form is above the chat container */
  margin-bottom: 10px;
}

/* Textarea styles */
textarea {
  flex: 1; /* Let the textarea grow to fill the remaining space */
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* Button styles */
button {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

/* Image inside form styles */
form img {
  width: 30px;
  height: 30px;
}

