
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#app {
  width:100vw;
  height: 100vh;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  width:950px;
  flex-direction: column;
  gap: 10px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-right: 250px; 
}




/* Hide scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar */
.message::-webkit-scrollbar {
  display: none;
}


form {
  position: fixed;
  bottom: 0;
  left: 350px; 
  width: calc(100% - 400px);
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

textarea {
  flex: 1; /* Let the textarea grow to fill the remaining space */
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  width: 30px; 
  height: 30px; 
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

