* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#checkout-container h2 {
    padding-bottom: 13px;
    border-bottom: 1px solid #adadad;
}
.accepted{
    padding-top: 20px;
}
.place-link{
    text-decoration: none;
    color: white;
}
#checkout-container select{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    background-color: #b58422;
    color: aliceblue;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
}

#checkout-container{
    font-family: 'Zapf';
    width: 50%;
    position: relative;
    top: 120%;
    margin-bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-toggle-container img{
    box-sizing: border-box;
}
h4{
    font-size: 20px;
}

.place-order {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #b58422;
    border: none;
    color: white;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    width: 42%;
    margin-bottom: 50px;
}

.place-order:hover {
    letter-spacing: 5px;
    background: #e4c688;
    transition: 0.5s ease;
    cursor: pointer;
}
.sameadr{
    margin-bottom: 30px;
}
#firstnamelabel,#addlabel,#emaillabel,
#citylabel,#ziplabel,#cardlabel,#cardexlabel,
#cardcvvlabel{
    top: 60px;
    font-size: 13px;
    color: rgb(90, 64, 64);
    font-style: italic;
}
#totalAmountReveal{
    border: 1px solid rgb(190, 190, 190);
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;

    text-align: center;
    font-size: 26px;
    transform: translateY(140px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ship{
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #adadad;
    margin-top: 5px;
    letter-spacing: 2px;
    margin-bottom: -50px;
    font-weight: lighter;
}