

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.bodyimage img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

/* contact form start */
.contact {
    position: relative;
    height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: center; */
}

.content {
    max-width: 800px;
    text-align: center;
    background: #fff;
}

.contact .content h2 {
    padding-top: 10px;
    font-size: 36px;
    font-weight: 500;
    background: #fff;
}

.contact .content p {
    font-weight: 300;
    padding: 4px 0;
    background: #fff;
}

.containers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    background: #fff;
}

.containers .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.containers .contactInfo .box {
    position: relative;
    display: flex;
    padding: 20px 0;
}

.containers .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.containers .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.containers .contactInfo .box .text h3 {
    font-weight: 500;
}

.contactForm {
    width: 40%;
    padding: 40px;
}

.contactForm h2{
    font-size: 30px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    height: auto;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #6b6967;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~ span,
.contactForm .inputBox input:valid~ span,
.contactForm .inputBox textarea:focus~ span,
.contactForm .inputBox textarea:valid~ span
{
    color: #d79e2e;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 200px;
    background: #d79e2e;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
}
.contactForm .inputBox input[type="submit"]:hover{
    background: #e4c688;
    transition: 0.5s ease;
}

@media (max-width: 800px)
{
    .content{
        margin-bottom: 30%;
        background: transparent;
    }
    .contact{
        margin-top: 50%;
        padding: 50px;
        max-width: 100%;
        margin-bottom: 20%;
    }
    .containers{
        flex-direction: column;
        width: 100%;
    }
    .contactInfo
    {
        float: left;
    }
    .contactForm{
        width: 100%;
    }
}
/* contact form end*/
