/*edit and delete and add */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.customers-container {
    display: flex;
}

.customers-container .addcust {
    margin: 10%;
    width: 50%;
}

.cuswrap {
    display: block;
    margin: 5%;
}


.add-title {
    color: rgb(4, 4, 4);
    margin: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.search-title {
    color: rgb(4, 4, 4);
    margin: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 5%;
    display: inline-block;
    border: 0.5px solid #a0a3b7;
    box-sizing: border-box;

}

.input-group label {
    font-size: 16px;
    margin: 5%;
    font-weight: 150;
}

.info {
    margin: 5%;
    font-size: 25px;
    font-weight: 200;
}

.info h3 {
    font-size: 20px;
    font-weight: 500;
}

.info h4,
.info small {
    font-size: 15px;
    font-weight: 500;
}

.custbuttons {
    display: block;
}

#cancel {
    background-color: #a0a3b7;
    color: #fff;
    margin: 5%;
    width: 80%;
    font-size: 20px;
    padding: 1% 0;
}

#add {
    background-color: #a0a3b7;
    color: #fff;
    margin: 2% 5%;
    width: 80%;
    font-size: 20px;
    padding: 1% 0;
}

#add:hover {
    cursor: pointer;
    background-color: #6a6666;
    color: white;
    letter-spacing: 1px;
    transition: 0.6s ease;

}

#cancel:hover {
    cursor: pointer;
    background-color: #6a6666;
    color: white;
    letter-spacing: 1px;
    transition: 0.7s ease;
}


#search {
    display: flex;

}

#search li {
    color: gray;

}

#custlist {
    list-style-type: none;
    margin: 5%;
}


#custlist li a {
    border: 1px solid #000000;
    background-color: transparent;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
}


.btn {
    background-color: transparent;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 40px;
    font-size: 15px;

}

.btn:hover {
    font-size: 20px;
    transition: 0.4s ease;

}

.search-container {
    margin: 10%;
    width: 50%;

}


#update-msg {
    display: none;
    color: #2bb184;
}

#delete-msg {
    display: none;
    color: #2bb184;
}





/* product edit */
.pdes{
    height: 100px;
}


.add-photo-btn{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    background-color:#a0a3b7;
    color:#fff;
    display:block;
    width:300px;
    height:40px;
    font-size:20px;
    line-height:40px;
}

.add-photo-btn:hover{
    cursor: pointer;
    background-color: #6a6666;
    color: white;
    letter-spacing: 1px;
    transition: 0.7s ease;
}

/* MAIN */
main {
    margin-top: 1.4rem;

}


.product-container {
    margin-top: -200px;
    margin-left:-40px
    
}

.product-container img{

    height: 60%;
    width: 60%;
    margin-top: 200px;
}

/* .product-card {
    border: #000000;
    border-width: 1px;
    border-style: solid;
    margin-top: 20px;
}


*/


/* responsive */

@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }


}

@media screen and (max-width: 600px) {

    .search-title,
    .add-title {
        width: 100%;
    }

}

/* orders */




main.table {
    width: 75vw;
    height: 90vh;
    background-color: rgba(215, 215, 215, 0.3);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 100px;
}

.table_header {
    width: 100%;
    height: 10%;
    background-color: rgba(172, 171, 171, 0.16);
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_header .search_orders {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table_header .search_orders:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}


.table_header .search_orders input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table_body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
    
}

.table_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: rgba(81, 81, 81, 0.267);
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}



table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}



.status_delivered {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    background-color: #86e49d;
    color: #006b21;
}

.status_cancelled {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    background-color: #d893a3;
    color: #b30021;
}

.status_pending {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    background-color: #ebc474;
}

.status_shipped {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

/* prod table */
#prod_img {
    width: 130px;
    height: 130px;
}


