* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-top: 0; */
    /* overflow: hidden; */
}


body {
    width: 100%;
    height: 100vh;
    font-family: 'Zapf';
}


.signIn {
    margin: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signIn h2 {
    margin: 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid #adadad;
}

.left {
    flex: 50%;
}

.lgbutton {
   
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 9%;
  border: none;
  background: #242424;
  color: #ffffff;
  width: 180px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  /*font-size: 20px; */
  letter-spacing: 2px;
  transform: translateY(-15px);
}


.lgbutton:hover {
  background: #d79e2e;
  transition: 0.7s ease-in-out;
  cursor: pointer;
  letter-spacing: 3px;
}

.signInform {

    padding-right: 7%;
    padding-left: 30%;
    border-right: 1px solid #adadad;
}

.textfield {
    position: relative;
    border-bottom: 1px solid #adadad;
    margin: 5%;
}

.textfield input {
    width: 100%;
    padding-top: 20px;
    height: 40px;
    font: 16px;
    font-size: 16.5px;
    border: none;
    outline: none;
}

.textfield label {

    position: absolute;
    top: 70%;
    left: 5px;
    padding-top: 20px;
    pointer-events: none;
    transform: translateY(-125%);
    font-size: 19px;
    font-weight: 530;
    transition: .4s;
}

.textfield input:focus~label {
    /* top: -5px; */
    color: rgb(128, 99, 7);

}

.textfield span::before {

    content: '';
    position: absolute;
    background-color: rgb(128, 99, 7);
    width: 0%;
    height: 2px;
    top: 40px;
    left: -1px;
}

.textfield input:focus~span::before {
    width: 100%;
}

.right {
    padding-left: 1%;
    display: block;
    flex: 50%;
    width: 100%;
}

.header1 {
    font-weight: bold;
    font-size: 20px;
    margin: 5%;
}

.header2 {
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.ulist {
    font-style: italic;
    color: #686868;
    margin-bottom: 7%;
    margin-left: 7%;
    margin-right: 5%;
}

.subutton {
   
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 9%;
  border: none;
  background: #242424;
  color: #ffffff;
  width: 180px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  /*font-size: 20px; */
  letter-spacing: 2px;
  transform: translateY(-35px);
}


.subutton:hover {
  background: #d79e2e;
  transition: 0.7s ease-in-out;
  cursor: pointer;
  letter-spacing: 3px;

}
#passlabel {
    font-size: 15px;
    position: absolute;
    top: 68px;
    color: rgb(131, 6, 6);
}


@media screen and (max-width: 900px) {
    .signIn {
        width: 90%;
        display: block;
    }

    .signInform {
        border-right: none;
        padding: 0;
        width: 90%;
    }

    .left {
        flex: 50%;
        margin-top: 5%;
        border-bottom: 1px solid #adadad;
        width: 100%;

    }

    .right {
        margin-top: 5%;
        width: 100%;
        padding: 0;
    }
}

.su-link {
    color: white;
    text-decoration: none;
}