

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    font-family: 'Zapf';
}
.bodyText{
    text-align: center;
    margin-top: 115px;
    margin-bottom: 115px;
}

.po1{
    font-size: 45px;
}

.po6{
    margin-top: 20px;
    color: rgb(188, 135, 2);
    font-size: 17px;
}
.po5{
    font-size: 19px;
    color: rgb(58, 58, 58);
}
.po5a {
    font-size: 19px;
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-weight: bold;
}

.po5a:hover{
    color: rgb(188, 135, 2);
    transition: 0.9s ease;
}