* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  @font-face {
    font-family: 'Zapf';
    src: url(./Zapf.ttf);
    font-weight: 100;
    font-style: normal;
  }
  
  body {
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
  }
  
  .parent {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .imgs {
    position: absolute;
    margin: 3%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
  
  .imgs {
    width: 40%;
  }
  
  #slider {
    width: 50%;
    height: auto;
    overflow: hidden;
  }
  
  .slideshow {
    width: 250%;
    height: auto;
    display: flex;
  
  }
  
  .slideshow input {
    display: none
  }
  
  .slide {
    width: 20%;
    transition: 1s;
  }
  
  .slide img {
    display: block;
    float: right;
    height: auto;
  }
  
  
  /* manual nav start */
  .slideshow .navmanual {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 95%;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn {
    border: 1px solid rgb(81, 81, 81);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
  }
  
  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }
  
  .manual-btn:hover {
    background: rgb(50, 49, 49);
  }
  
  #radio1:checked~.first {
    margin-left: 0;
  }
  
  #radio2:checked~.first {
    margin-left: -20%;
  }
  
  #radio3:checked~.first {
    margin-left: -40%;
  }
  
  /* manual nav end */
  
  /* automatic nav start */
  .slideshow .navauto {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 95%;
  }
  
  .navauto div {
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navauto div:not(:last-child) {
    margin-right: 40px;
  }
  
  #radio1:checked~.navauto .auto-btn1 {
    background: rgb(50, 49, 49);
  }
  
  #radio2:checked~.navauto .auto-btn2 {
    background: rgb(50, 49, 49);
  }
  
  #radio3:checked~.navauto .auto-btn3 {
    background: rgb(50, 49, 49);
  }
  
  @media screen and (max-width:1020px) {
    .navmanual {
      margin-top: 25%;
    }
  
    .navauto {
      margin-top: 25%;
    }
  }
  
  @media screen and (min-width:1024px) {
    .navmanual {
      margin-top: 30%;
    }
  
    .navauto {
      margin-top: 30%;
    }
  }
  
  /* end of image slideshow */
  .price{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .details {
    background: #fff;
    width: 50%;
    margin-left: 50%;
    margin-top: 3%;
    overflow: hidden;
  }
  
  .details h2 {
    text-align: center;
    font-family: 'Zapf';
    font-size: 35px;
    padding: 1% 0;
    font-weight: 550;
  }
  
  .details hr {
    margin: 1% 0%;
  }
  
  .info-snip{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
  }
  
  .details p b {
    font-family: 'Zapf';
    font-weight: 600;
    font-size: 20px;
    margin: 10% 0;
  }
  
  .aboutring {
    padding-top: 5px;
    font-family: 'Zapf';
    font-size: 20px;
  }
  
  .priceinfo {
    padding-top: 20px;
    display: flex;
    margin: 1% 40px;
    border: 1px solid rgba(0, 0, 0, 0.021);
  }
  
  
  .priceinfo .priceparagraph {
  
    width: 50%;
  }
  
  .priceinfo .priceparagraph p {
  
    font-size: 25px;
    font-family: Arial, Helvetica, serif;
    /* color: rgb(94, 31, 4); */
    color: rgb(0, 0, 0);
    font-weight: 550;
  }
  
  .priceinfo .pricevalue {
    width: 50%;
    margin-left: 10%;
  }
  
  .pricevalue p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  
  }
  
  .pricevalue del {
    color: rgb(163, 4, 4);
  }
  
  .btnsdiv {
  
    display: flex;
    justify-content: center;
  
  }
  
  .btn {
  
    margin: 2% 7%;
    border: none;
    background: #000000;
    color: #ffffff;
    width: 180px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
  }
  
  .btn:hover {
    background: #d79e2e;
    transition: 0.7s ease;
    cursor: pointer;
    letter-spacing: 2px;
  }
  
  #darkfav,#fav{
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .wishlist.darkfav #darkfav{
    visibility: hidden;
   }
    #fav{
    position: absolute;
    margin-left: -18px;
     
   } 
  
    .wishlist.fav  #fav{
     visibility: hidden;
   }
  
  /*styling product cards*/
  .pcontainer {
    display: flex;
    justify-content: space-evenly;
  }
  
  .box {
  
    background-color: whitesmoke;
    margin-top: 30px;
    border: none;
    overflow: hidden;
    width: 270px;
    box-shadow: 2px 2px 11px rgba(110, 105, 104, 0.342);
    z-index: 100;
    position: relative;
    border-radius: 15px;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
  }
  
  .cardimg {
    padding-top: 10px;
    transform: translateY(2rem);
    width: 270px;
    height: 278.03px;
    transition: .3s;
  }
  
  .box:hover .cardimg {
  
    transform: translateY(-1.5rem);
    transform: scale(1.3);
  }
  
  .items {
    transform: translateY(7rem);
  
    transition: .9s;
    background-color: rgb(0, 0, 0);
  }
  
  .prodetails {
    color: rgb(255, 254, 254);
    font-size: 17px;
    transition: .5s;
  
  }
  
  .prodetails .price {
    font-weight: bold;
    font-size: 17px;
  
  }
  
  .prodetails .price del {
    color: rgb(126, 2, 2);
  }
  
  .cardbtn {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: rgb(0, 0, 0);
  
    transform: translateY(3.5rem);
    transition: .5s;
  }
  
  .box:hover .items {
    border: none;
    transform: translateY(-0.1px);
  }
  
  .box:hover .cardbtn {
    transform: translateY(-0.1px);
  }
  
  .cardbtn:hover {
    background-color: whitesmoke;
    color: rgb(70, 17, 1);
    cursor: pointer;
  }
  
  .cardfav {
    position: relative;
    left: 230px;
    top: -6px;
  
    width: 25px;
    height: 25px;
    z-index: 1000;
  }
  
  
  .maylike {
  
    width: 100%;
    margin-top: 18%;
  }
  
  
  .maylike .head {
    font-family: 'Zapf';
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }
  
  /*                          finish styling cards                                                           */
  
  /*                                styling form                                                    */
  .review {
    position: relative;
    margin: 10% 5%;
    margin-top: 160px;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 90%;
  }
  
  .review p {
    margin: 2%;
    font-size: 18px;
    margin-left: 10px;
  }
  
  .signIn h3 {
    text-align: center;
  }
  
  .signIn h2 {
    padding-top: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #adadad;
  }
  
  .submit {
    background-color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 17px;
    /* border-radius: 15px; */
  
    width: 180px;
  }
  
  .submit:hover {
  
    background: #ffffff;
    border: 1px solid #000000;
    color: #000;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  
  .signInform {
  
    padding: 0 20px;
  
  }
  
  .textfield {
    position: relative;
    border-bottom: 2px solid #adadad;
    width: 100%;
  
    margin: 30px 0;
  }
  
  .textfield input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font: 16px;
    border: none;
    outline: none;
    background-color: whitesmoke;
  }
  
  .textfield label {
  
    position: absolute;
  
    top: 50%;
    left: 5px;
    pointer-events: none;
    transform: translateY(-50%);
    font-size: 17px;
    transition: .4s;
  }
  
  .textfield input:focus~label {
    top: -5px;
    color: rgb(56, 56, 56);
  
  }
  
  .textfield span::before {
  
    content: '';
    position: absolute;
    /* background-color: rgb(219, 217, 211); */
    width: 0%;
    height: 2px;
    top: 40px;
  
  
  }
  
  .textfield input:focus~span::before {
    width: 100%;
    background-color: rgb(2, 22, 77);
  
  }
  
  
  
  /*                                 finish styling form */
  .footer {
    margin-top: 100px;
  }
  