* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -1%;

}

.box {

  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  border: none;
  overflow: hidden;
  width: 270px;
  box-shadow: 2px 2px 11px rgba(110, 105, 104, 0.342);
  z-index: 100;
  position: relative;
  border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 50px;
}
.snip{
  font-size: 16px;
}
.imgg {
  padding-top: 10px;
  transform: translateY(2rem);
  width: 260px;
  height: 278.03px;
  transition: .4s;
  margin-left: 5px;
  margin-right: 5px;
}

.box:hover img {
  
  transform: translateY(-1.5rem);
  transform: scale(1.3);
}

.items {
  transform: translateY(7rem);
  transition: .9s;
  background-color: rgb(255, 255, 255);
}

.prodetails {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 17px;
  transition: .5s;

}

.prodetails .price {
  font-weight: bold;

}

.prodetails .price del {
  padding-left: 10px;
  color: rgb(123, 123, 123);
}

.btn {
  width: 100%;
  border: none;
  height: 30px;
  font-size: 16px;
  color: white;
  background-color: rgb(152, 116, 32);
  transform: translateY(3.5rem);
  transition: .5s;
  font-family: 'Zapf';

}

.box:hover .items {
  border: none;
  transform: translateY(-0.1px);
}

.box:hover .btn {
  transform: translateY(-0.1px);
}

.btn:hover {
  background: #d79e2e;
  color: white;
  transition: 0.7s ease;
  cursor: pointer;
  letter-spacing: 2px;
}

.box .ri-heart-line,
.ri-heart-fill{
  position: relative;
  left: 230px;
  top: 6px;
  font-size: 30px;
  font-weight:lighter;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
  color: black;
}

.sorting {
  font-family: 'Zapf';
  margin-top: 20px;
  width: 95%;
  margin-right: 20px;
  display: flex;
  justify-content: end;

}

.sorting select {
  font-family: 'Zapf';
  border: none;
  font-size: 15px;
}

.sorting label {

  font-size: 25px;
}

#rings-intro {
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid rgb(89, 89, 89);
  padding-bottom: 20px;
  margin: 30px 0;
}

.rings-intro-title {
  text-shadow: 1px 1px 1px grey;
  letter-spacing: 2px;
  font-family: 'Zapf';
  font-size: 35px;
  padding-bottom: 10px;

}

.snip {
  padding-bottom: 50px;
}

.footer {
  margin-top: 100px;

}