h1 {
    font-weight: 300;
    padding: 10px;
    font-size: 45px;
}

input{
    outline: none;
}

input[type="text"] {
    margin-top: 60px;
    margin-left: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #565656;
    padding: 10px;
    width: 98%;
    font-size: 45px;
    text-transform: uppercase;
}

input[type="text"]:focus,
input[type="text"]:active {
    border: none;
    border-bottom: 2px solid #565656;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

#searchResults {
    width: 98%;
    margin-left: 10px;

}

#searchResults a {
    text-decoration: none;
    color: black;
    display: flex;
}

#searchResults a img {
    width: 100px;
}

#searchResults a p {
    margin: 40px;
}

hr {
    border-top: none;
    border: 1px solid lightgray;
}

p {
    margin: 20px 0;
}