.body {
    align-items: center;
}

/*  wishlist start */
.wishlist-wrap {
    width: 100%;
}

.wishlist-header {
    font-weight: 400;
    padding: 30px 0;
    margin: 1%;
    margin-left: 30px;
}

.prod {
    display: flex;
    width: 99%;
}

.wishlist-items {
    width: 100%;
    margin-bottom: 70px;
}

.wishlist-box {
    width: 97%;
    height: 200px;
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    overflow: hidden;
    margin-left: 30px;
    margin-bottom: 20px;
    transition: all .3s ease;
}


.wishlist-box img {
    width: 300px;
    height: 200px;
    padding: 5px;
}

.atc {
    border-style: none;
    background: none;
    text-decoration: underline;
    opacity: 65%;
}

.atc:hover {
    cursor: pointer;
    opacity: 100%;
}

.prod-content {
    padding: 15px;
    position: relative;
    width: 100%;
}

.prod-content h3 {
    font-weight: 400;
    margin-bottom: 10px;
}

.ri-close-line {
    font-size: 30px;
    opacity: 22%;
}

.prod-content button.remove-btn,
i.ri-close-line {
    border-style: none;
    background: none;
    float: right;
    cursor: pointer;
    margin-top: -1%;
    margin-right: -1%;
}

.prod-content button i.ri-close-line:hover {
    color: black;
    opacity: 100%;
}

.prod-content .p1,
.prod-content .p2 {
    font-weight: 400;
    margin-bottom: 50px;
}

.btn-wrap {
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 9px;
    border: 1px solid rgb(204, 199, 199);
}

.btn-wrap span {
    width: 100%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    font-weight: 300;
}

.btn-wrap span.n,
span.n1 {
    font-size: 20px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
    padding-top: 1%;
}

.btn-wrap span.a,
span.m,
span.a1,
span.m1 {
    font-size: 20px;
    height: 100%;
    padding-top: 1%;
    font-weight: 300;
}

@media screen and (max-width: 850px) {
    .prod {
        display: block;
    }

    .prod-content h3 {
        margin-bottom: 15px;
    }

    .prod-content button.remove-btn,
    i.ri-close-line {
        margin-top: -2%;
        margin-right: -3%;
    }

    .prod-content h4 {
        margin-bottom: 20px;
    }
    .wishlist-header{
        margin-left: 10px;
    }
    .wishlist-box {
        height: 30%;
        margin-left: 10px;
    }

    .wishlist-box img {
        height: 170px;
        width: 300px;
    }

    .prod-content button,
    i.ri-close-line {
        margin-right: -2%;
    }
}



/* shopping wishlist end */