<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- material icons cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/editcustdash.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Add Customer</title>
</head>

<body>

    <div class="container">
        <%- include('../partials/dashboardsidebar', { currentPage: 'editcustdash' }) %>


        <main>
            <h1>Customers</h1>
            <div id="customers-container">
                <div class="addcust" id="addcust">
                    <form action="/addcustomers" method="post" class="signInform" onsubmit="return checkinputs()">
                        <div class="add">
                            <h2 class="add-title">Add A Customer</h2>
                        </div>
                        <div class="customers-container" style="display: block;">

                            <div class="input-group">
                                <label for="firstname">First Name</label>
                                <div><input id="firstname" type="text" placeholder="First Name" name="firstname">
                                </div>
                                <span id="firstnamelabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="lastname">Last Name</label>
                                <div><input id="lastname" type="text" placeholder="Customer's Last Name"
                                        name="lastname">
                                </div>
                                <span id="lastnamelabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="email">Email</label>
                                <div><input id="email" type="email" placeholder="Customer's Email" name="email">
                                </div>
                                <span id="emaillabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="pass">Password</label>
                                <div> <input id="pass" type="password" placeholder="Customer's Password" name="pass">
                                </div>
                                <span id="passlabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="pass">Confirm password</label>
                                <div> <input id="confirmpass" type="password" placeholder="Customer's Password"
                                        name="confirmpass">
                                </div>
                                <span id="confirmpasslabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="phone">Phone</label>
                                <div><input id="phone" type="text" placeholder="Customer's Phone Number" name="phone">
                                </div>
                                <span id="phonelabel"></span>
                            </div>
                            <input type="submit" value="Add" id="add">


                        </div>
                    </form>
                    <script src="js/validation.js"></script>
                </div>
        </main>
    </div>
</body>

</html>