<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- material icons cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/editcustdash.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Admin Profile</title>
</head>

<body>

    <div class="container">
        <%- include('../partials/dashboardsidebar', { currentPage: 'settings' }) %>




            <main>

                <h1>Admin Profile</h1>

                <div id="products-container">
                    <div class="addcust" id="addcust">
                        <form class="form" action="/adminprofile" method="POST">
                            <div class=" add">
                                <h2 class="add-title">Settings</h2>
                            </div>
                            <div class="products-container" style="display: block;">

                                <div class="form-group">
                                    <label for="phone">Mobile number</label>
                                    <div> <input type="text" id="pnumber" name="pnumber"></div>
                                    <p id="pnumbErr" class="formerror">Invalid Phone number</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail address</label>
                                <input type="email" class="form-control" id="email" name="email">
                                <p id="emailErr" class="formerror">Invalid Email</p>
                            </div>

                    <div class="form-group">
                        <label for="password">Current password</label>
                        <input type="password" class="form-control" id="cpass" name="cpass">
                        <p id="cpassErr" class="formerror">Invalid password</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">New password</label>
                    <input type="password" class="form-control" id="newpass" name="newpass">
                    <p id="newpassErr" class="formerror"></p>
                </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
        <button class="btn btn-default" href="/dashboard">Cancel</button>
        <p id="submitBtn" class="formerror"> Your account was updated successfully</p>
    </div>
    </div>
    </div>
    </div>
    </form>
    <script src="js/changePassValidation.js"></script>
    <script src="js/ajaxChangePass.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>