<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/categories.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />


</head>

<body>

    <%- include('../partials/navbar') %>

        <section class="homePage">
            <h1>Choose Your Category</h1>

            <div class="categ_container">
                <div class="cat_content">
                    <a href=""><img src="Images/earingg.jpg" alt=""></a>
                    <a href="" class="text"> Earrings </a>
                </div>
                <div class="cat_content">
                    <a href="#"><img src="Images/neckk.png" alt=""> </a>
                    <a href="#" class="text">Necklaces </a>

                </div>
                <div class="cat_content">
                    <a href=""> <img src="Images/Dring.jpg" alt=""> </a>
                    <a href="" class="text"> Rings </a>
                </div>
                <div class="cat_content">
                    <a href=""> <img src="Images/bracelett.png" alt=""></a>
                    <a href="" class="text"> Bracelets </a>
                </div>
            </div>
        </section>
</body>

<%- include('../partials/footer') -%>

</html>