<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/Signup.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- to access font awesome cdn icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title> reset password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .signInform{
            position: relative;
            top: -270px;
        }
        h2{
            position: relative;
            top: -300px;
        }
    </style>
</head>
<body>
    <%- include('../partials/navbar') %>
    
        <section class="signIn">

            <h2>Reset password</h2>
            <form  class="signInform" id="signInform" >
                 
                 <div class="textfield"> 
                     <input type="email" name="email" id="email" >  
                     <label  id="emaillabel"></label>
                     <span class="sp1"></span>          
                     <label for="">E-mail</label>      
                 </div>

                 <input type="submit" class="submit">
                 <br><br>
            </form>
        </section>
  
 <script src="/js/forgetajax.js"></script>
    <%- include('../partials/footer') %>

    
</body>
</html>