<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="css/userprofile.css">
    <link rel="stylesheet" type="text/css" href="css/myprofile.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">


</head>

<body>

     <section class="changePass">
    <h1>Change Password</h1>
  

        <form method="POST" action="/change_password" onsubmit="checkFields()" id="ChangePassForm" >
            <label for="oldPassword" id="oldPassLabel">Old Password:</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old Password"
                required>

            <label for="newPassword" id="newPassLabel">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password"
                required>

            <label for="confirmPassword" id="confPasswordLabel">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                placeholder="Confirm Password" required>

            <button type="submit">Change Password</button>
    
    </form>
</section >
   <script src="js/changePassValidation.js"></script>
   <script src="js/ajaxChangePass.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>
