<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="css/placedOrder.css">
    <title>Order Placed</title>
</head>

<body>
    <%- include('../partials/navbar') %>
        <div class="bodyText">
            <% if(order !=undefined ){ %>
                <h1>
                    Order <%= order._id%> was placed successfully!
                </h1>
                <% } %>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>