<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Signup.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <title> Sign Up</title>
</head>
<body>
    <%- include('../partials/navbar') %>

    <section class="signIn">

        <h2>Sign Up Information </h2>
        
        <form action="/user" method="post"  class="signInform" id="signInform" >
             <div class="textfield"> 
                 <input type="text" name="firstname" onsubmit="return checkinputs()" id="firstname" required>
                  <label for="firstname" id="firstnamelabel"></label>
                 <img src="Images/right.png" alt="" width="15px" height="15px" class="true">
                 <img src="Images/wrongg.png" alt="" width="15px" height="15px" class="false">
                 <span class="sp1"></span>
                 <label for=""> First Name</label> 
             </div>
             <div class="textfield" > 
                 <input type="text" name="lastname" id="lastname" required>
                 <label for="firstname" id="lastnamelabel"></label>
                 <img src="Images/right.png" alt="" width="15px" height="15px" class="true">
                 <img src="Images/wrongg.png" alt="" width="15px" height="15px" class="false">
                 <span class="sp1"></span>
                 <label for=""> Last Name</label>
                </div>
             <div class="textfield"> 
                 <input type="email" name="email" id="email" required>  
                 <label for="firstname" id="emaillabel"></label>
                 <img src="Images/right.png" alt="" width="15px" height="15px" class="true">
                 <img src="Images/wrongg.png" alt="" width="15px" height="15px" class="false">
                 <span class="sp1"></span>          
                 <label for="">E-mail</label>      
             </div>
             <div class="textfield"> 
                 <input type="password" name="password" id="pass" required>
                 <label for="firstname" id="passlabel"></label>
                 <img src="Images/right.png" alt="" width="15px" height="15px" class="true">
                 <img src="Images/wrongg.png" alt="" width="15px" height="15px" class="false">
                 <span class="sp1"></span>
                 <label for="">Password</label>      
             </div>
             <div class="textfield" >  
                <input type="password" name="confirmpassword" id="confirmpass" required>
                <label for="firstname" id="confirmpasslabel"></label>
                <img src="Images/right.png" alt="" width="15px" height="15px" class="true">
                <img src="Images/wrongg.png" alt="" width="15px" height="15px" class="false">
                <span class="sp1"></span>
                 <label for="">Confirm Password</label>
            </div>
             <!-- <div class="textfield">
                  <input type="date" name="dob">     
             </div> -->
             <div class="textfield">
                   <input type="text" name="phone" id="phone" required>
                   <label for="firstname" id="phonelabel"></label>
                   <img src="Images/right.png" alt="" width="15px" height="15px" class="true">
                   <img src="Images/wrongg.png" alt="" width="15px" height="15px" class="false">
                   <span class="sp1"></span>
                    <label for="">Phone </label>   
             </div>
             <p class="disclaimer">By providing your personal information, you agreed to our Privacy & Cookies Policy.
            </p>
             <input type="submit" class="submit">
             <br><br>

        </form>
        

        <p id="loginlink">Already have an account?
            <a href="login.html" class="loginlink"> Log In </a> </p>
          <script src="js/validation.js"></script>
          <script src="js/ajax.js"></script>
    </section>
  

    <%- include('../partials/footer') %>

    
</body>
</html>