
<div class="d-flex flex-column">
    <div class="h5">Welcome Back</span></div>
    <div>Logged In as: <span id="usemail" on></span></div>
</div>
<div class="d-flex my-4 flex-wrap">
    <div class="box me-4 my-1 bg-light" role="button">
        <img src="https://www.freepnglogos.com/uploads/box-png/cardboard-box-brown-vector-graphic-pixabay-2.png" alt="">
        <div class="d-flex align-items-center mt-2">
            <div class="tag">Orders placed</div>
            <div class="ms-auto number">10</div>
        </div>
    </div>
    <div class="box me-4 my-1 bg-light" role="button" onclick="location.href='/cart'">
        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-campus-recreation-university-nebraska-lincoln-30.png"
            alt="">
        <div class="d-flex align-items-center mt-2">
            <div class="tag">Items in Cart</div>
            <div class="ms-auto number">10</div>
        </div>
    </div>
    <div class="box me-4 my-1 bg-light" role="button" onclick=" location.href='/wishlist'">
        <img src="https://www.freepnglogos.com/uploads/love-png/love-png-heart-symbol-wikipedia-11.png" alt="">
        <div class="d-flex align-items-center mt-2">
            <div class="tag">Wishlist</div>
            <div class="ms-auto number">10</div>
        </div>
    </div>
</div>
<div class="text-uppercase">My recent orders</div>
<div class="order my-3 bg-light">
    <div class="row">
        <div class="col-lg-4">
            <div class="d-flex flex-column justify-content-between order-summary">
                <div class="d-flex align-items-center">
                    <div class="text-uppercase">Order #fur10001</div>
                    <div class="blue-label ms-auto text-uppercase">paid</div>
                </div>
                <div class="fs-8">Products #03</div>
                <div class="fs-8">21 May, 2023 | 12:05 PM</div>
                <div class="rating d-flex align-items-center pt-1">
                    <img src="https://www.freepnglogos.com/uploads/like-png/like-png-hand-thumb-sign-vector-graphic-pixabay-39.png"
                        alt=""><span class="px-2">Rating:</span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
                <% order.forEach(function(orders)) {%>
                <% if (orders.status === "Shipped") { %> 
                    <div class="status">Status : <p class="status_shipped">Shipped</p></div>
                  <% } else if (orders.status === "Delivered") { %>
                    <div class="status">Status : <p class="status_delivered">Delivered</p> </div>
                  <% } else if (orders.status === "Pending") { %>
                    <div class="status">Status : <p class="status_pending">Pending</p></div>
                  <% } else if (orders.status === "Cancelled") { %>
                    <div class="status">Status :  <p class="status_cancelled">Cancelled</p> </div>
                  <% } %> </div>
                <div class="btn btn-primary text-uppercase" location.href='./userprofileorder'>order info</div>
            
            <div class="progressbar-track">
                <ul class="progressbar">
                    <li id="step-1" class="text-muted green">
                        <span class="fas fa-gift"></span>
                    </li>
                    <li id="step-2" class="text-muted green">
                        <span class="fas fa-check"></span>
                    </li>
                    <li id="step-3" class="text-muted green">
                        <span class="fas fa-box"></span>
                    </li>

                </ul>
                <div id="tracker"></div>
            </div>
        </div>
    </div>
</div>
<div class="order my-3 bg-light">
    <div class="row">
        <div class="col-lg-4">
            <div class="d-flex flex-column justify-content-between order-summary">
                <div class="d-flex align-items-center">
                    <div class="text-uppercase">Order #fur10001</div>
                    <div class="green-label ms-auto text-uppercase">cod</div>
                </div>
                <div class="fs-8">Products #03</div>
                <div class="fs-8">12 Feb, 2020 | 10:45 PM</div>
                <div class="rating d-flex align-items-center pt-1">
                    <img src="https://www.freepnglogos.com/uploads/like-png/like-png-hand-thumb-sign-vector-graphic-pixabay-39.png"
                        alt=""><span class="px-2">Rating:</span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
               <% order.forEach(function(orders)) {%>
                <% if (orders.status === "Shipped") { %> 
                    <div class="status">Status : <p class="status_shipped">Shipped</p></div>
                  <% } else if (orders.status === "Delivered") { %>
                    <div class="status">Status : <p class="status_delivered">Delivered</p> </div>
                  <% } else if (orders.status === "Pending") { %>
                    <div class="status">Status : <p class="status_pending">Pending</p></div>
                  <% } else if (orders.status === "Cancelled") { %>
                    <div class="status">Status :  <p class="status_cancelled">Cancelled</p> </div>
                  <% } %> </div>
                <div class="btn btn-primary text-uppercase" location.href='./userprofileorder'>order info</div>

            <div class="progressbar-track">
                <ul class="progressbar">
                    <li id="step-1" class="text-muted green">
                        <span class="fas fa-gift"></span>
                    </li>
                    <li id="step-2" class="text-muted">
                        <span class="fas fa-check"></span>
                    </li>
                    <li id="step-3" class="text-muted">
                        <span class="fas fa-box"></span>
                    </li>
                    <li id="step-4" class="text-muted">
                        <span class="fas fa-truck"></span>
                    </li>
                    <li id="step-5" class="text-muted">
                        <span class="fas fa-box-open"></span>
                    </li>
                </ul>
                <div id="tracker"></div>
            </div>
        </div>
    </div>
</div>
