<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" prod-content="IE=edge" />
    <meta name="viewport" prod-content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/wishlist.css">
    <!-- to access font awesome cdn icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Clementine</title>
</head>

<body>
    <%- include('../partials/navbar') %>

        <!-- shopping cart start -->

        <div class="wishlist-wrap">
            <h1 class="wishlist-header">your wishlist (2 items)</h1>
            <div class="prod">
                <div class="wishlist-items">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="./Images/r2.png" class="product-thumb" alt="">
                            <button class="card-btn">add to cart</button>
                        </div>
                        <div class="product-info">
                            <h2 class="product-brand">Ring 2</h2>
                            <p class="product-short-des">In stock</p>
                            <span class="price">27000 LE</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-image">
                            <img src="./Images/r2.png" class="product-thumb" alt="">
                            <button class="card-btn">add to cart</button>
                        </div>
                        <div class="product-info">
                            <h2 class="product-brand">Ring 2</h2>
                            <p class="product-short-des">In stock</p>
                            <span class="price">27000 LE</span>
                        </div>
                    </div>
                    <div class="product-card">
                <div class="product-image">
                    <img src="./Images/r2.png" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Ring 2</h2>
                    <p class="product-short-des">In stock</p>
                    <span class="price">27000 LE</span>
                </div>
            </div>
                </div>
            </div>
        </div>
        </div>
        <!-- shopping cart end -->

        <%- include('../partials/footer') %>

            <script>
                /* increment and decrement start*/

                const add = document.querySelector(".a"),
                    numb = document.querySelector(".n"),
                    sub = document.querySelector(".m");

                const add1 = document.querySelector(".a1"),
                    sub1 = document.querySelector(".m1"),
                    numb1 = document.querySelector(".n1");
                var priceupdate = document.querySelector(".p1");
                var priceupdate2 = document.querySelector(".p2");
                let c1 = 1;
                let c2 = 1;
                add.addEventListener("click", () => {
                    c1++;
                    numb.innerText = c1;
                    priceupdate.innerText = "EGP " + c1 * 15200;
                })
                add1.addEventListener("click", () => {
                    c2++;
                    numb1.innerText = c2;
                    priceupdate2.innerText = "EGP " + c2 * 19000;
                })

                sub.addEventListener("click", () => {
                    if (c1 > 1) {
                        c1--;
                    }

                    numb.innerText = c1;
                    var p = 15200 + Math.abs(15200 - c1 * 15200);
                    priceupdate.innerText = "EGP " + p;
                })
                sub1.addEventListener("click", () => {
                    if (c2 > 1) {
                        c2--;
                    }
                    numb1.innerText = c2;
                    var p2 = 19000 + Math.abs(19000 - c2 * 19000);
                    priceupdate2.innerText = "EGP " + p2;

                })

                /* increment and decrement end */

            </script>


</body>


</html>